@model IEnumerable<personaapi_dotnet.Models.Telefono>

@{
    ViewData["Title"] = "Tabla Telefonos";
}

<h1>Tabla Telefonos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonaCedula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonaCedula)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Numero">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Numero">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Numero">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
