@model personaapi_dotnet.Models.Estudio

@{
    ViewData["Title"] = "Eliminar Estudio";
}

<h1>Eliminar Estudio</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Estudio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfesionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfesionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonaCedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonaCedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Universidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Universidad)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
