@model personaapi_dotnet.Models.Estudio

@{
    ViewData["Title"] = "Detalles Estudio";
}

<h1>Detalles Estudio</h1>

<div>
    <h4>Estudio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfesionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfesionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonaCedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonaCedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Universidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Universidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
